.bio {
  margin: 0 5%;
  height: 25vh;
  overflow-y: hidden;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background:linear-gradient(transparent 125px, white);
    pointer-events: none;
  }

  @media only screen and (max-device-width: 812px) {
    &:after {
      background:linear-gradient(transparent 5%, white);
    }
  }
}

button {
  all: unset;

  &:focus {
    outline: none !important;
  }
}
